/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* Inner border */
img {
    width: 20rem;
    height: 20rem;
    border: 2px black solid;
}
/* Outer border and color */
#tokyo, #moscow, #berlin, #nyc {
    border: 2px black solid;
    padding: 10px 10px 20px 10px;
    background-color: white;
    filter: grayscale();
}
/* City names */
.city {
    font-family: Permanent Marker;
    font-size: 50px;
    margin-left: 50px;
}
/* Position and transform */
#tokyo {
    position: absolute;
    top: 230px; left: 230px;
    transform: rotate(-45deg);
}
#moscow {
    position: absolute;
    top: 100px; left: 450px;
    transform: rotate(-20deg);
}
#berlin {
    position: absolute;
    top: 100px; right: 450px;
    transform: rotate(20deg);
}
#nyc {
    position: absolute;
    top: 230px; right: 230px;
    transform: rotate(45deg);
}
/* Hover effect */
#tokyo:hover, #moscow:hover, #berlin:hover, #nyc:hover{
    filter: none;
    transform: rotate(0deg);
    z-index: 1;
}